@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 222 62% 42%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  overflow-x: hidden ;
  overflow-y: hidden ;
}

/* Example CSS */
.slick-slide {
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Adjust dots and arrows as needed */
.slick-dots {
  top: 80%;
  left: 12,52%;
  pointer-events: none; 
}

.slick-dots li {
  pointer-events: auto; 
}

.slick-prev, .slick-next {
  z-index: 100; /* Ensure arrows are above the content */
}