
.pivotPoint {
    position: absolute;
    top:94.25%; /* Adjust based on the pivot point's position */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background-color: red; /* Make the dot visible */
    z-index: 10;
}

/* Common positioning styles for all hand containers */
.secondHandContainer, .minuteHandContainer, .hourHandContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Individual adjustments for each hand */
.secondHandContainer {
    height: 288px; /* Height of the second hand */
    transform-origin: 50% 80.8%; /* Pivot point */
    transition: transform 1s linear;
}

.secondHandContainer .cartierSecond{
    transform-origin: 50% 80.8%; /* Pivot point */
}

.secondHandContainer .seamasterSecond{
    transform-origin: 50% 80.8%; /* Pivot point */
}

.minuteHandContainer {
    height: 220px; /* Height of the minute hand */
    transform-origin: 50% 94.25%;
    transition: transform 0.5s linear;
}

.hourHandContainer {
    height: 168px; /* Height of the hour hand */
    transform-origin: 50% 90.7%;
    transition: transform 1s linear;
}

.secondHandImage, .minuteHandImage, .hourHandImage {
    width: auto; /* Adjust as needed */
    height: 100%; /* Set to 100% of the container's height */
}

@media only screen and (max-width: 543px) {
    .secondHandContainer {
        height: 216px;
    }
    .minuteHandContainer {
        height: 165px;
    }
    .hourHandContainer {
        height: 126px;
    }
}
