.mainContainer {
    position: relative; /* Needed for absolute positioning of the image */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* To handle any overflow issues */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .backgroundImageContainer {
    position: absolute; /* Positioned absolutely to sit behind the second hand */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This will center the div */
    z-index: -1; /* Ensures it stays behind the second hand */
  
    width: 500px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
  }
  
  .backgroundImageContainer > span { /* Targeting the wrapper span element around the Image component */
    position: unset !important;
  }
  