.mainContainer {
  position: relative;
  /* Needed for absolute positioning of the image */
  height: 90vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
  overflow: hidden;
  /* To handle any overflow issues */
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImageContainer {
  position: absolute;
  /* Positioned absolutely to sit behind the second hand */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* This will center the div */

  /* Ensures it stays behind the second hand */
  width: 500px;
  /* Adjust the width as needed */
  height: 500px;
  /* Adjust the height as needed */
}

.backgroundImageContainer>span {
  /* Targeting the wrapper span element around the Image component */
  position: unset !important;
}

.circleSilver {
  width: 10px;
  /* Adjust size as needed */
  height: 10px;
  /* Adjust size as needed */
  border-radius: 50%;
  /* Makes the shape a circle */
  background-image: linear-gradient(to right, #EFEFEF, #ABABAB, #EFEFEF);
  /* Shiny silver effect */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* Fixed positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centers the circle */
  z-index: 20;
  filter: drop-shadow(-2.5px 0px 2px #5e5e5e);
}

.circleBlack {
  width: 5px;
  /* Adjust size as needed */
  height: 5px;
  /* Adjust size as needed */
  border-radius: 50%;
  /* Makes the shape a circle */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* Fixed positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centers the circle */
  z-index: 21;
}

.infoIcon {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  transform: scale(1.2);
  color: #b2b2b2;
}

.infoIcon:hover {
  color: #2850AC;
}

.linkStyle {
  text-decoration: underline;
}

.stopWatchContainer {
  position: absolute;
  top: -15%; /* Adjust to align with the specific point on the image */
  left: 50%;
}