.stopWatchTime {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Chivo Mono', monospace;
    font-size: 30px;
}

.stopWatchButtonContainer {
  position: absolute;
  top: 105%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateX(-50%);
}