.stopWatchTime {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Chivo Mono', monospace;
    font-size: 30px;
}

.stopWatchButtonContainer {
  position: absolute;
  top: 110%;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  transform: translateX(-50%);
}

.stopWatchToolTip {
  position: absolute;
  top: 120%;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateX(-50%);
  color: #d3d3d3;
  font-size: 10px;
}

.space {
  transform: scale(0.6);
}

@media only screen and (max-width: 543px) {
  .stopWatchTime {
    font-size: 25px;
  }
  .stopWatchToolTip {
    opacity: 0;
  }
}