.stopWatchTime {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Chivo Mono', monospace;
    font-size: 30px;
}

.stopWatchButtonContainer {
  position: absolute;
  top: 110%;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  transform: translateX(-50%);
}

.space {
  color: #b2b2b2;
}